<div class="UsersShadowBox"></div>

<p id="notice"><%= notice %></p>

<div class="usernav">
  <% if user_signed_in? %>
  <li><%= link_to 'Sign Out', { :action=>"destroy", :controller=>"devise/sessions" }, method: :delete %></li>
  <% else %>
</div>

<!--   <div class="Content"> -->

<!--   <div class="TableImg1">
      <%= image_tag "GoldTable.png", width: "250"%></div>
  <div class="HeartsImg1">
      <%= image_tag "HeartsLogo.png", width: "65" %></div> -->
  

  <br><br><br><br><br><br><br><br><br><br>
  <h4>New Users Please Click Below</h4>
      <center><div class="new-user-btns">
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-info' %><br>
  <br><h4>Existing Users Welcome Back! Please Click Below</h4>
    <center><div class="new-user-btns">
    <%= link_to "Log In", new_user_session_path, class: 'btn btn-info'%>
  <% end %>
</div></center></div>


<div class="HeartsBGImg"><div>