<%#= form_with(model: interest, local: true) do |form| %>

<%= form_for([@profile, @interest]) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interest.errors.count, "error") %> prohibited this interest from being saved:</h2>

      <ul>
      <% interest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="star-rating"></div>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :interest_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>